@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
   --cor01: #C26426; 
   --cor02: #D5DAE3; 
   --cor03: #c1c5ce; 
   --cor04: #034959;  
   --cor05: #0B3B4B;  
   --cor06: #013C4F;

   --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
   --fonte-destaque:  "Montserrat", sans-serif;
   
}

* {
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(var(--cor04),var(--cor06) );
    width: 100%;
    padding: 20px 0;
}

.interface{
    max-width: 1250px;
    margin: 0 auto;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo-mpv img{
    width: 60px;
    height: auto;
}

header .logo-mpv img:hover{
   cursor: pointer; 
}

header .menu-desktop nav ul{
    list-style-type: none;
}

header .menu-desktop nav ul li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

header .menu-desktop nav ul li a{ 
    color: var(--cor02);
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none; 
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    transition-duration: .2s;
    min-width: 280px;
    max-width: 1250px;
    font-family: var(--fonte-destaque); 
    font-weight: normal;
}

header .menu-desktop nav ul li a:hover{
    background-color: #a85620;
    transform: scale(1.05);
}

header .redes-sociais img {
    width: 35px;
    height: 30px;
}

body{
    background-color: var(--cor02);
    font-family: var(--font-padrao);
    text-align: justify;
}

main{
    background-color: var(--cor02);
    min-width: 280px;
    padding-top: 20px;
    margin: auto;
    margin-bottom: 10px;
}

main h1{
    font-family: var(--fonte-destaque);
}

section.eventos{
    padding: 20px 0px 40px 0px
}

.eventos h2{
    font-family: var(--fonte-destaque);
    font-size: 2.0em;
    padding-bottom: 30px;
}

.eventos .itens-eventos{
    max-width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 20px;
    margin: auto;
}

.eventos .itens-eventos .img-itens img{
    max-width: 450px;
    height: auto;
}

.eventos .itens-eventos .txt-itens h3{
    font-size: 2.1em;
    font-weight: 250;
    margin-bottom: 10px;
}

.eventos .itens-eventos .txt-itens p{
    text-align: justify;
    font-family: var(--font-padrao);
    font-size: large;
}

section.programação{
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: var(--cor03);
    width: 100%;
    max-width: 100%;
}

.programação h2{
    font-family: var(--fonte-destaque);
    font-size: 2.0em;
    padding-bottom: 30px;
}

.programação .horarios{
    max-width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 20px;
    margin: auto;
}

.programação .horarios .img-horarios img{
    max-width: 450px;
    height: auto;
    padding-bottom: 15px;
}

.programação .horarios .txt-horarios h3{
    font-size: 2.1em;
    font-weight: 250;
    margin-bottom: 10px;
}

.programação .horarios .txt-horarios h3 span{
    display: block;
    font-weight: bold;
}

  
footer {
    background-color: var(--cor06);
    color: var(--cor02);
    text-align: center;
    font-family: var(--font-padrao);
}